page-modal-compound {
    .grid{
        background-color: #24273a;
        border:1px solid rgb(255, 255, 255);
        height: 40px;
        border-radius: 10px;
    }
    h2{
        color: white;
    }
}
